# Mac OS X
.DS_Store

# TextMate
*.tmproj
tmtags

# emails
*~
\#*
.\#*

# vim
*.swp

# General
coverage
rdoc
doc
log
.yardoc
nohup.out

# Bundler
*.gem
.bundle
Gemfile.lock
pkg
*.gem

# Rubinius
*.rbc

# Extensions
Makefile
*.o
*.bundle
mkmf.log

# App Specific
at5001_config.yml
*.mp3
*.wav
call*.png
